##########################################
# Ansible managed file. Don’t edit
##########################################
# Memory units:  B  = bytes            Time units:  us  = microseconds
#                kB = kilobytes                     ms  = milliseconds
#                MB = megabytes                     s   = seconds
#                GB = gigabytes                     min = minutes
#                TB = terabytes                     h   = hours
#                                                   d   = days


#------------------------------------------------------------------------------
# FILE LOCATIONS
#------------------------------------------------------------------------------
data_directory = '/var/lib/postgresql/{{ postgres_version }}/main'
hba_file = '/etc/postgresql/{{ postgres_version }}/main/pg_hba.conf'
ident_file = '/etc/postgresql/{{ postgres_version }}/main/pg_ident.conf'
external_pid_file = '/var/run/postgresql/{{ postgres_version }}-main.pid'

#------------------------------------------------------------------------------
# CONNECTIONS AND AUTHENTICATION
#------------------------------------------------------------------------------
listen_addresses = '{{ postgres_listen_addr }}'
port = {{ postgres_listen_port }}
max_connections = {{ postgres_max_connections | default('100') }}
superuser_reserved_connections = 3
unix_socket_directories = '/var/run/postgresql'

# - Authentication -
password_encryption = {{ postgres_password_encryption | default('scram-sha-256') }}
db_user_namespace = {{ postgres_db_user_namespace | default('off') }}
{% if postgres_ssl_enable %}

ssl = on
{% if postgres_ssl_ca_file is defined %}
ssl_ca_file = '{{ postgres_ssl_ca_file | default('') }}'
{% endif %}
ssl_cert_file = '{{ postgres_ssl_cert_file | default('/etc/ssl/certs/ssl-cert-snakeoil.pem') }}'
{% if postgres_ssl_crl_file is defined %}
ssl_crl_file = '{{ postgres_ssl_crl_file | default('') }}'
{% endif %}
{% if postgres_ssl_crl_dir is defined %}
ssl_crl_dir = '{{ postgres_ssl_crl_dir | default('') }}'
{% endif %}
ssl_key_file = '{{ postgres_ssl_key_file | default('/etc/ssl/private/ssl-cert-snakeoil.key') }}'
ssl_ciphers = '{{ postgres_ssl_ciphers | default('HIGH:!aNULL') }}'
{% if postgres_ssl_prefer_server_ciphers %}
ssl_prefer_server_ciphers = on
{% else %}
ssl_prefer_server_ciphers = off
{% endif %}
ssl_ecdh_curve = '{{ postgres_ssl_ecdh_curve | default('prime256v1') }}'
ssl_min_protocol_version = '{{ postgres_ssl_min_vers | default('TLSv1.2') }}'
{% if postgres_ssl_dh_params_file is defined %}
ssl_dh_params_file = '{{ postgres_ssl_dh_params_file | default('') }}'
{% endif %}
{% else %}
ssl = off
{% endif %}

#------------------------------------------------------------------------------
# RESOURCE USAGE (except WAL)
#------------------------------------------------------------------------------
shared_buffers = {{ postgres_shared_buffers | default('128MB') }}
huge_pages = try
temp_buffers = {{ postgres_temp_buffers | default('8MB') }}
max_prepared_transactions = {{ postgres_max_prepared_transactions | default('0') }}
work_mem = {{ postgres_work_mem | default('4MB') }}
maintenance_work_mem = {{ postgres_maintenance_work_mem | default('64MB') }}
autovacuum_work_mem = {{ postgres_autovacuum_work_mem | default('-1') }}
{% if postgres_version >= 13 %}
hash_mem_multiplier = {{ postgres_hash_mem_multiplier | default('2.0') }}
logical_decoding_work_mem = {{ postgres_logical_decoding_work_mem | default('64MB') }}
{% endif %}
max_stack_depth = {{ postgres_max_stack_depth | default('100kB') }}
{% if postgres_version >= 12 %}
shared_memory_type = {{ postgres_shared_memory_type | default('mmap')}}
{% endif %}
dynamic_shared_memory_type = {{ postgres_dynamic_shared_memory_type | default('posix') }}
{% if postgres_version >= 14 %}
min_dynamic_shared_memory = {{ postgres_min_dynamic_shared_memory | default('0MB') }}
{% endif %}

# - Kernel Resources -
max_files_per_process = {{ postgres_max_files_per_process | default('1000') }}

# - Cost-Based Vacuum Delay -
vacuum_cost_delay = {{ postgres_vacuum_cost_delay | default('0') }}
vacuum_cost_page_hit = {{ postgres_vacuum_cost_page_hit | default('1') }}
vacuum_cost_page_miss = {{ postgres_vacuum_cost_page_miss | default('2') }}
vacuum_cost_page_dirty = {{ postgres_vacuum_cost_page_dirty | default('20') }}
vacuum_cost_limit = {{ postgres_vacuum_cost_limit | default('200') }}

# - Background Writer -
bgwriter_delay = {{ postgres_bgwriter_delay | default('200ms') }}
bgwriter_lru_maxpages = {{ postgres_bgwriter_lru_maxpages | default('100') }}
bgwriter_lru_multiplier = {{ postgres_bgwriter_lru_multiplier | default('2.0') }}
bgwriter_flush_after = {{ postgres_bgwriter_flush_after | default('512kB') }}

# - Asynchronous Behavior -
backend_flush_after = {{ postgres_backend_flush_after | default('0') }}
effective_io_concurrency = {{ postgres_effective_io_concurrency | default('1') }}
{% if postgres_version >= 13 %}
maintenance_io_concurrency = {{ postgres_maintenance_io_concurrency | default('10') }}
{% endif %}
max_worker_processes = {{ postgres_max_worker_processes | default('8') }}
max_parallel_workers_per_gather = {{ postgres_max_parallel_workers_per_gather | default('2') }}
{% if postgres_version >= 11 %}
max_parallel_maintenance_workers = {{ postgres_max_parallel_maintenance_workers | default('2') }}
parallel_leader_participation = {{ postgres_parallel_leader_participation | default('on') }}
{% endif %}
{% if postgres_version >= 10 %}
max_parallel_workers = {{ postgres_max_parallel_workers | default('8') }}
{% endif %}
old_snapshot_threshold = {{ postgres_old_snapshot_threshold | default('-1') }}

#------------------------------------------------------------------------------
# WRITE-AHEAD LOG
#------------------------------------------------------------------------------
wal_level = {{ postgres_wal_level | default('replica') }}
fsync = on
synchronous_commit = on
wal_sync_method = fsync
full_page_writes = on
wal_log_hints = {{ postgres_wal_log_hints | defaults('off') }}
wal_compression = {{ postgres_wal_compression | default('off') }}
{% if postgres_version >= 12 %}
wal_init_zero = on
wal_recycle = on
{% endif %}
wal_buffers = {{ postgres_wal_buffers | default('-1') }}
wal_writer_delay = {{ postgres_wal_writer_delay | default('200ms') }}
wal_writer_flush_after = {{ postgres_wal_writer_flush_after | default('1MB') }}
{% if postgres_version >= 13 %}
wal_skip_threshold = {{ postgres_wal_skip_threshold | default('2MB') }}
{% endif %}
commit_delay = {{ postgres_commit_delay | default('0') }}
commit_siblings = {{ postgres_commit_siblings | default('5') }}

# - Checkpoints -
checkpoint_timeout = {{ postgres_checkpoint_timeout | default('5min') }}
checkpoint_completion_target = {{ postgres_checkpoint_completion_target | default('0.9') }}
checkpoint_flush_after = {{ postgres_checkpoint_flush_after | default('256kB') }}
checkpoint_warning = {{ postgres_checkpoint_warning | default('30s') }}
max_wal_size = {{ postgres_max_wal_size | default('1GB') }}
min_wal_size = {{ postgres_min_wal_size | default('80MB') }}

{% if postgres_version >= 15 %}
# - Prefetching during recovery -
recovery_prefetch = try
wal_decode_buffer_size = 512kB
{% endif %}

#------------------------------------------------------------------------------
# QUERY TUNING
#------------------------------------------------------------------------------
# - Planner Method Configuration -
{% if postgres_version >= 10 %}
enable_gathermerge = {{ postgres_enable_gathermerge | default('on') }}
{% endif %}
{% if postgres_version >= 11 %}
enable_parallel_append = {{ postgres_enable_parallel_append | default('on') }}
enable_parallel_hash = {{ postgres_enable_parallel_hash | default('on') }}
enable_partition_pruning = {{ postgres_enable_partition_pruning | default('on') }}
enable_partitionwise_join = {{ postgres_enable_partitionwise_join | default('off') }}
enable_partitionwise_aggregate = {{ postgres_enable_partitionwise_aggregate | default('off') }}
{% endif %}
{% if postgres_version >= 13 %}
enable_incremental_sort = {{ postgres_enable_incremental_sort | default('on') }}
{% endif %}
{% if postgres_version >= 14 %}
enable_async_append = {{ postgres_enable_async_append | default('on') }}
enable_memoize = {{ postgres_enable_memoize | default('on') }}
{% endif %}
enable_bitmapscan = {{ postgres_enable_bitmapscan | default('on') }}
enable_hashagg = {{ postgres_enable_hashagg | default('on') }}
enable_hashjoin = {{ postgres_enable_hashjoin | default('on') }}
enable_indexscan = {{ postgres_enable_indexscan | default('on') }}
enable_indexonlyscan = {{ postgres_enable_indexonlyscan | default('on') }}
enable_material = {{ postgres_enable_material | default('on') }}
enable_mergejoin = {{ postgres_enable_mergejoin | default('on') }}
enable_nestloop = {{ postgres_enable_nestloop | default('on') }}
enable_seqscan = {{ postgres_enable_seqscan | default('on') }}
enable_sort = {{ postgres_enable_sort | default('on') }}
enable_tidscan = {{ postgres_enable_tidscan | default('on') }}

# - Planner Cost Constants -
seq_page_cost = {{ postgres_seq_page_cost | default('1.0') }}
random_page_cost = {{ postgres_random_page_cost | default('4.0') }}
cpu_tuple_cost = {{ postgres_cpu_tuple_cost | default('0.01') }}
cpu_index_tuple_cost = {{ postgres_cpu_index_tuple_cost | default('0.005') }}
cpu_operator_cost = {{ postgres_cpu_operator_cost | default('0.0025') }}
parallel_setup_cost = {{ postgres_parallel_setup_cost | default('1000.0') }}
parallel_tuple_cost = {{ postgres_parallel_tuple_cost | default('0.1') }}
min_parallel_table_scan_size = {{ postgres_min_parallel_table_scan_size | default('8MB') }}
min_parallel_index_scan_size = {{ postgres_min_parallel_index_scan_size | default('512kB') }}
effective_cache_size = {{ postgres_effective_cache_size | default('4GB') }}
{% if postgres_version >= 11 %}
jit_above_cost = {{ postgres_jit_above_cost | default('100000') }}
jit_inline_above_cost = {{ postgres_jit_inline_above_cost | default('500000') }}
jit_optimize_above_cost = {{ postgres_jit_optimize_above_cost | default('500000') }}
{% endif %}

# - Genetic Query Optimizer -
geqo = {{ postgres_geqo | default('on') }}
geqo_threshold = {{ postgres_geqo_threshold | default('12') }}
geqo_effort = {{ postgres_geqo_effort | default('5') }}
geqo_pool_size = {{ postgres_geqo_pool_size | default('0') }}
geqo_generations = {{ postgres_geqo_generations | default('0') }}
geqo_selection_bias = {{ postgres_geqo_selection_bias | default('2.0') }}
geqo_seed = {{ postgres_geqo_seed | default('0.0') }}

# - Other Planner Options -
default_statistics_target = {{ postgres_default_statistics_target | default('100') }}
constraint_exclusion = {{ postgres_constraint_exclusion | default('partition') }}
cursor_tuple_fraction = {{ postgres_cursor_tuple_fraction | default('0.1') }}
from_collapse_limit = {{ postgres_from_collapse_limit | default('8') }}
{% if postgres_version >= 11 %}
jit = on
{% endif %}
join_collapse_limit = {{ postgres_join_collapse_limit | default('8') }}
{% if postgres_version >= 12 %}
plan_cache_mode = {{ postgres_plan_cache_mode | default('auto') }}
{% endif %}
{% if postgres_version >= 15 %}
recursive_worktable_factor = {{ postgres_recursive_worktable_factor | default('10.0') }}
{% endif %}


#------------------------------------------------------------------------------
# REPORTING AND LOGGING
#------------------------------------------------------------------------------
# - Where to Log -
log_destination = '{{ postgres_log_destination | default('stderr') }}'
logging_collector = {{ postgres_logging_collector | default('off') }}
log_directory = '{{ postgres_log_directory | default('log') }}'
log_filename = '{{ postgres_log_filename | default('postgresql-%Y-%m-%d_%H%M%S.log') }}'
log_file_mode = {{ postgres_log_file_mode | default('0600') }}
log_rotation_age = {{ postgres_log_rotation_age | default('1d') }}
log_rotation_size = {{ postgres_log_rotation_size | default('10MB') }}
log_truncate_on_rotation = {{ postgres_log_truncate_on_rotation | default('off') }}
syslog_facility = '{{ postgres_syslog_facility | default('LOCAL0') }}'
syslog_ident = '{{ postgres_syslog_ident | default('postgres') }}'
syslog_sequence_numbers = {{ postgres_syslog_sequence_numbers | default('on') }}
syslog_split_messages = {{ postgres_syslog_split_messages | default('on') }}

# - When to Log -
log_min_messages = {{ postgres_log_min_message | default('warning') }}
log_min_error_statement = {{ postgres_log_min_error_statement | default('error') }}
log_min_duration_statement = {{ postgres_log_min_duration_statement | default('2000') }}
{% if postgres_version >= 13 %}
log_min_duration_sample = {{ postgres_log_min_duration_sample | default('-1') }}
log_statement_sample_rate = {{ postgres_log_statement_sample_rate | default('1.0') }}
{% endif %}
{% if postgres_version >= 12 %}
log_transaction_sample_rate = {{ postgres_log_transaction_sample_rate | default('0.0') }}
{% endif %}
{% if postgres_version >= 15 %}
log_startup_progress_interval = {{ postgres_log_startup_progress_interval | default('10s') }}
{% endif %}

# - What to Log -
debug_print_parse = {{ postgres_debug_print_parse | default('off') }}
debug_print_rewritten = {{ postgres_debug_print_rewritten | default('off') }}
debug_print_plan = {{ postgres_debug_print_plan | default('off') }}
debug_pretty_print = {{ postgres_debug_pretty_print | default('on') }}
log_autovacuum_min_duration = {{ postgres_log_autovacuum_min_durication | default('10min') }}
log_checkpoints = {{ postgres_log_checkpoints | default('on') }}
log_connections = {{ postgres_log_connections | default('on') }}
log_disconnections = {{ postgres_log_disconnections | default('on') }}
log_duration = {{ postgres_log_duration | default('on') }}
log_error_verbosity = {{ postgres_log_error_verbosity | default('default') }}
log_hostname = {{ postgres_log_hostname | default('on') }}
log_line_prefix = {{ postgres_log_line_prefix | default('%m [%p] %q%u@%d ') }}
log_lock_waits = {{ postgres_log_lock_waits | default('on') }}
log_recovery_conflict_waits = {{ postgres_log_recovery_conflict_waits | default('on') }}
{% if postgres_version >= 13 %}
log_parameter_max_length = {{ postgres_log_parameter_max_lenght | default('-1') }}
log_parameter_max_length_on_error = {{ postgres_log_parameter_max_length_on_error | default('-1') }}
{% endif %}
log_statement = '{{ postgres_log_statement | default('none') }}'
log_temp_files = {{ postgres_log_temp_files | default('-1') }}
log_timezone = '{{ postgres_timezone | default('UTC') }}'

#------------------------------------------------------------------------------
# PROCESS TITLE
#------------------------------------------------------------------------------
cluster_name = '{{ postgres_cluster_name | default('{{ postgres_version }}/main') }}
update_process_title = {{ postgres_update_process_title | default('on') }}

#------------------------------------------------------------------------------
# STATISTICS
#------------------------------------------------------------------------------
# - Cumulative Query and Index Statistics -
track_activities = {{ postgres_track_activities | default('on') }}
track_activity_query_size = {{ postgres_track_activity_query_size | default('1024') }}
track_counts = {{ postgres_track_counts | default('on') }}
track_io_timing = {{ postgres_track_io_timing | default('off') }}
{% if postgres_version >= 14 %}
track_wal_io_timing = {{ postgres_track_wal_io_timing | default('off') }}
{% endif %}
track_functions = {{ postgres_track_functions | default('none') }}
{% if postgres_version >= 15 %}
stats_fetch_consistency = {{ postgres_stats_fetch_consistency | default('cache') }}
{% endif %}

# - Monitoring -
{% if postgres_version >= 14 %}
compute_query_id = {{ postgres_compute_query_id | default('auto') }}
{% endif %}
log_statement_stats = {{ postgres_log_statement_stats | default('off') }}
log_parser_stats = {{ postgres_log_parser_stats | default('off') }}
log_planner_stats = {{ postgres_log_planner_stats | default('off') }}
log_executor_stats = {{ postgres_log_executor_stats | default('off') }}

#------------------------------------------------------------------------------
# AUTOVACUUM
#------------------------------------------------------------------------------
autovacuum = {{ postgres_autovacuum | default('on') }}
autovacuum_max_workers = {{ postgres_autovacuum_max_workers | default('3') }}
autovacuum_naptime = {{ postgres_autovacuum_naptime | default('1min') }}
autovacuum_vacuum_threshold = {{ postgres_autovacuum_vacuum_threshold | default('50') }}
autovacuum_analyze_threshold = {{ postgres_autovacuum_analyze_threshold | default('50') }}
autovacuum_vacuum_scale_factor = {{ postgres_autovacuum_vacuum_scale_factor | default('0.2') }}
autovacuum_analyze_scale_factor = {{ postgres_autovacuum_analyze_scale_factor | default('0.1') }}
autovacuum_freeze_max_age = {{ postgres_autovacuum_freeze_max_age | default('200000000') }}
autovacuum_multixact_freeze_max_age = {{ postgres_autovacuum_multixact_freeze_max_age | default('400000000') }}
autovacuum_vacuum_cost_delay = {{ postgres_autovacuum_vacuum_cost_delay | default('2ms') }}
autovacuum_vacuum_cost_limit = {{ postgres_autovacuum_vacuum_cost_limit | default('-1') }}
{% if postgres_version >= 13 %}
autovacuum_vacuum_insert_threshold = {{ postgres_autovacuum_vacuum_insert_threshold | default('1000') }}
autovacuum_vacuum_insert_scale_factor = {{ postgres_autovacuum_vacuum_insert_scale_factor | default('0.2') }}
{% endif %}

#------------------------------------------------------------------------------
# CLIENT CONNECTION DEFAULTS
#------------------------------------------------------------------------------
# - Statement Behavior -
client_min_messages = {{ postgres_client_min_message | default('notice') }}
search_path = '{{ postgres_search_path | default('"$user", public') }}'
row_security = {{ postgres_row_security | default('on') }}
{% if postgres_version >= 12 %}
default_table_access_method = '{{ postgres_default_table_access_method | default('heap') }}'
{% endif %}
default_tablespace = '{{ postgres_default_tablespace | default('') }}'
{% if postgres_version >= 14 %}
default_toast_compression = '{{ postgres_default_toast_compression | default('pglz') }}'
vacuum_failsafe_age = {{ postgres_vacuum_failsafe_age | default('1600000000') }}
{% endif %}
temp_tablespaces = '{{ postgres_default_tablespaces | default('') }}'
check_function_bodies = {{ postgres_check_function_bodies | default('on') }}
default_transaction_isolation = '{{ postgres_default_transaction_isolation | default('read committed') }}'
default_transaction_read_only = {{ postgres_default_transaction_read_only | default('off') }}
default_transaction_deferrable = {{ postgres_default_transaction_deferrable | default('off') }}
session_replication_role = '{{ postgres_session_replication_role | default('origin') }}'
statement_timeout = {{ postgres_statement_timeout | default('0') }}
lock_timeout = {{ postgres_lock_timeout | default('0') }}
idle_in_transaction_session_timeout = {{ postgres_idle_in_transaction_session_timeout | default('0') }}
idle_session_timeout = {{ postgres_idle_session_timeout | default('0') }}
vacuum_freeze_table_age = {{ postgres_vacuum_freeze_table_age | default('150000000') }}
vacuum_freeze_min_age = {{ postgres_vacuum_freeze_min_age | default('50000000') }}
vacuum_multixact_freeze_table_age = {{ postgres_vacuum_multixact_freeze_table_age | default('150000000') }}
vacuum_multixact_freeze_min_age = {{ postgres_vacuum_multixact_freeze_min_age | default('5000000') }}
vacuum_multixact_failsafe_age = {{ postgres_vacuum_multixact_failsafe_age | default('1600000000') }}
bytea_output = '{{ postgres_bytea_output | default('hex') }}'
xmlbinary = '{{ postgres_xmlbinary | default('base64') }}'
xmloption = '{{ postgres_xmloption | default('content') }}'
gin_pending_list_limit = {{ postgres_gin_pending_list_limit | default('4MB') }}

# - Locale and Formatting -
datestyle = '{{ postgres_datestyle | default('iso, mdy') }}'
intervalstyle = '{{ postgres_intervalstyle | default('postgres') }}'
timezone = '{{ postgres_timezone | default('UTC') }}'
timezone_abbreviations = '{{ postgres_timezone_abbreviations | default('Default') }}'
client_encoding = {{ postgres_client_encoding | default('sql_ascii') }}
lc_messages = '{{ postgres_locale | default('en_US.UTF-8') }}'
lc_monetary = '{{ postgres_locale | default('en_US.UTF-8') }}'
lc_numeric = '{{ postgres_locale | default('en_US.UTF-8') }}'
lc_time = '{{ postgres_locale | default('en_US.UTF-8') }}'
default_text_search_config = '{{ postgres_default_text_search_config | default('pg_catalog.english') }}'

# - Shared Library Preloading -
local_preload_libraries = '{{ postgres_local_preload_libraries | default('') }}'
session_preload_libraries = '{{ postgres_session_preload_libraries | default('') }}'
shared_preload_libraries = '{{ postgres_shared_preload_libraries | default('') }}'
{% if postgres_version >= 11 %}
jit_provider = '{{ postgres_jit_provider | default('llvmjit') }}'
{% endif %}

# - Other Defaults -
dynamic_library_path = '{{ postgres_dynamic_library_path | default('$libdir') }}'
gin_fuzzy_search_limit = {{ postgres_gin_fuzzy_search_limit | default('0') }}

#------------------------------------------------------------------------------
# LOCK MANAGEMENT
#------------------------------------------------------------------------------
deadlock_timeout = {{ postgres_deadlock_timeout | default('1s') }}
max_locks_per_transaction = {{ postgres_max_locks_per_transaction | default('64') }}
max_pred_locks_per_transaction = {{ postgres_max_pred_locks_per_transaction | default('64') }}
max_pred_locks_per_relation = {{ postgres_max_pred_locks_per_relation | default('-2') }}
max_pred_locks_per_page = {{ postgres_max_pred_locks_per_page | default('2') }}

#------------------------------------------------------------------------------
# VERSION AND PLATFORM COMPATIBILITY
#------------------------------------------------------------------------------
# - Previous PostgreSQL Versions -
array_nulls = {{ postgres_array_nulls | default('on') }}
backslash_quote = {{ postgres_backslash_quote | default('safe_encoding') }}
escape_string_warning = {{ postgres_escape_string_warning | default('on') }}
lo_compat_privileges = {{ postgres_lo_compat_privileges | default('off') }}
quote_all_identifiers = {{ postgres_quote_all_identifiers | default('off') }}
standard_conforming_strings = {{ postgres_standard_conforming_strings | default('on') }}
synchronize_seqscans = {{ postgres_synchronize_seqscans | default('on') }}

# - Other Platforms and Clients -
transform_null_equals = {{ postgres_transform_null_equals | default('off') }}

#------------------------------------------------------------------------------
# ERROR HANDLING
#------------------------------------------------------------------------------
exit_on_error = {{ postgres_exit_on_error | default('off') }}
restart_after_crash = {{ postgres_restart_after_crash | default('on') }}
data_sync_retry = {{ postgres_data_sync_retry | default('off') }}
{% if postgres_version >= 14 %}
recovery_init_sync_method = {{ postgres_recovery_init_sync_method | default('fsync') }}
{% endif %}

#------------------------------------------------------------------------------
# CONFIG FILE INCLUDES
#------------------------------------------------------------------------------
include_dir = 'conf.d'

#------------------------------------------------------------------------------
# CUSTOMIZED OPTIONS
#------------------------------------------------------------------------------
