# {{rolename}}

{{role_meta_vars['galaxy_info']['description']}}

## Requirements

{% if role_meta_vars['collections'] is defined and role_meta_vars['collections']|length() %}

### Collections dependencies
    {% for collection in role_meta_vars['collections'] %}
* {{ collection }}
	{% endfor %}
{% else %}
None
{% endif %}
{% if role_meta_vars['dependencies'] is defined and role_meta_vars['dependencies']|length() %}

### Role dependencies
	{% for dependencie in role_meta_vars['dependencies'] %}
* {{ dependencie }}
	{% endfor %}
{% endif %}

{% if role_docs_md_files is not none %}
	{% for role_docs_md_file in role_docs_md_files %}
		{% if 'USAGE' in role_docs_md_file['filename'] %}
## Usage
{{ role_docs_md_file['content'] }}
		{% endif %}
	{% endfor %}
{% endif %}


{# role vars #}
{% if role_vars_files is not none or role_defaults_files is not none or role_spec_vars is not none %}
## Role Variables

Variables are divided in three types.

The **default vars** section shows you which variables you may
override in your ansible inventory.
As a matter of fact, all variables should
be defined there for explicitness, ease of documentation as well as overall
role manageability.

	{% if role_defaults_files is not none or role_spec_vars is not none %}
### Default variables
		{% if role_spec_vars is not none %}
			{% for name,specs in role_spec_vars.items() %}

#### {{ name }}

				{% if 'short_description' in specs %}
{{ specs['short_description'] }}
				{% elif 'description' in specs %}
{{ specs['description'] }}
				{% endif %}

<table>
<tr>
<th> Variable Name </td>
<th> Required </td>
<th> Type </td>
<th> Default </td>
<th> Elements </td>
<th> Description </td>
</tr>
				{% for name,option in specs['options'].items() %}
<tr>
<td> {{ name }} </td>
<td> {{ option['required'] if 'required' in option else False }} </td>
<td> {{ option['type'] }} </td>
<td>

```yaml
{{ option['default'] | safe if 'default' in option }}
```

</td>
<td> {{ option['elements'] if 'elements' in option }} </td>
<td> {{ option['description'] if 'description' in option }} </td>
</tr>
				{% endfor %}
</table>
			{% endfor %}
		{% else %}
			{% for role_defaults_file in role_defaults_files %}
Role default variables from `defaults/{{role_defaults_file['filename']}}`.

				{% if role_defaults_file['content'] != None %}
<table>
<tr>
<th> Variable Name </td>
<th> Value </td>
</tr>
					{% for key,value in role_defaults_file['content'].items() %}
<tr>
<td> {{ key }} </td>
<td>

```yaml
{{ value | safe }}
```

</td>
</tr>
					{% endfor %}
				{% endif %}
</table>
			{% endfor %}
		{% endif %}
	{% endif %}
{% endif %}

{% if role_docs_md_files is not none %}
	{% for role_docs_md_file in role_docs_md_files %}
		{% if 'SPECIAL_VARIABLES' in role_docs_md_file['filename'] %}
### Special variables
{{role_docs_md_file['content']}}
		{% endif %}
		{% if loop.length > 1 %}
		{% endif %}
	{% endfor %}
{% endif %}

{% if role_docs_md_files is not none %}
	{% for role_docs_md_file in role_docs_md_files %}
		{% if 'PLAYBOOK' in role_docs_md_file['filename'] %}
## Example Playbook
{{ role_docs_md_file['content'] }}
		{% endif %}
	{% endfor %}
{% endif %}

{% if role_docs_md_files is not none %}
## Additionnal documentations
	{% for role_docs_md_file in role_docs_md_files %}
		{% if 'README' not in role_docs_md_file['filename'] and 'PLAYBOOK' not in role_docs_md_file['filename'] and 'SPECIAL_VARIABLES' not in role_docs_md_file['filename'] and 'USAGE' in role_docs_md_file['filename'] %}
{{role_docs_md_file['content']}}
		{% endif %}
		{% if loop.length > 1 %}
		{% endif %}
	{% endfor %}
{% endif %}

## Author Information

{{ role_meta_vars['galaxy_info']['author'] }} ({{ role_meta_vars['galaxy_info']['company'] }})

{% if role_meta_vars['galaxy_info']['license'] is defined %}
# Licence
{{ role_meta_vars['galaxy_info']['license'] }}
{% endif %}
